body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.donate-main-section{
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 220px;
    
}

.donate-header {
    width: 60%;
    text-align: center;
    margin-left:20%;
    
}

.donate-header h1 {
    font-size: 36px;
    color: white;
}
.donate-header p {
    color: #DEDCDC;
    font-size: 19px;
    padding-top: 26px;
    padding-bottom: 34px;
}
.donate-button {
    background-color: #FF5959;
    padding: 12px 15px;
    font-size: 19px;
    font-weight: 700;
    border: 1px solid #ff5959;
    color: white;
    border-radius: 7px;
}

/* scond section */

.donate-today-item {
    display: flex;
    margin-left: 15%;
    margin-right: 15px;
}
.item-tk {
    height: 165px;
    width: 176px;
    background-color: #FAFAFA;
    color: #707070;
    margin-left: 14px;
    font-size: 20px;
}

.item-tk h1 {
    text-align: center;
    padding-top: 59px;
}

.donate-today-frist {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 157px;
    margin-bottom: 69px;
}

.donate-today-frist h1 {
    font-size: 39px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 13px;
}
.donate-today-frist p {
    font-size: 17px;
    text-align: center;
    color: #737373;
}

#color-add {
    border: 3px solid #FF5959;
    border-radius: 5px;
    background-color: #FFEEEE;
}

#color-add h1 {
    color: #FF5959;
}


.box-down {
    height: 100px;
    width: 70%;
    margin-left: 16%;
    margin-right: 16%;
    border-bottom: 1px solid gray;
}

.box-down p {
    font-size: 21px;
    text-align: center;
    color: #707070;
    padding-top: 62px;
}

.donate-btn {
    background-color: #FF5959;
    padding: 12px 15px;
    font-size: 19px;
    font-weight: 700;
    border: 1px solid #ff5959;
    color: white;
    border-radius: 7px;
    margin-left: 394px;
    margin-top: 40px;
}


.our-plan {
    margin-top: 188px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.our-plan h1 {
    font-size: 35px;
    padding-bottom: 16px;
}

.our-plan p {
    font-size: 16px;
    width: 67%;
    text-align: center;
    margin-left: 162px;
    color: gray;
}


.donate-plan-items {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.donate-item {
    margin-right: 19px;
    margin-top: 84px;
    height: 240px;
    text-align: center;
    padding-top: 114px;
    border-radius: 5px;
}

.donate-item img {
    width: 75px;
    margin-right: 229px;
    margin-top: -109px;
}
.donate-item h1 {
    font-size: 26px;
    margin-right: 109px;
    padding-top: 20px;
    font-weight: 500;
}
.donate-item p {
    font-size: 19px;
    text-align: left;
    padding-left: 20px;
    padding-top: 11px;
    color: gray;
}

#food{
    background-color: #EDF5F6;
}
#family{
    background-color: #FFEEEE;
}
#education{
    background-color: #FFF4D6;
}

.donate-children-section{
    background-color: #ECF6F3;
}

.donate-childrens {
    display: flex;
    margin-top: 103px;
}

.donate-children-img {
    width: 45%;
    margin-left: 10%;
}

.donate-children-info {
    width: 45%;
    margin-right: 10%;
    margin-left: 67px;
}

.donate-children-info h1 {
    font-size: 33px;
    padding-top: 86px;
}

.chil-btn {
    background-color: #FF5959;
    padding: 12px 15px;
    font-size: 19px;
    font-weight: 700;
    border: 1px solid #ff5959;
    color: white;
    border-radius: 7px;
    margin-left: 3px;
    margin-top: 40px;
}

.my-updates {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    margin-top: 60px;
}

.my-updates h1 {
    font-size: 34px;
    margin-bottom: 14px;
    font-weight: 500;
}

.my-updates p {
    width: 70%;
    text-align: center;
    margin-left: 102px;
    color: gray;
}

.email-box {
    width: 50%;
    height: 139px;
    background-color: #FFF4D6;
    margin-top: 45px;
    margin-left: 25%;
    margin-right: 25%;
}

.email {
    width: 231px;
    margin-top: 54px;
    margin-left: 156px;
    padding: 14px 4px;
    text-align: left;
    text-decoration: none;
    border: 1px solid #F0F0F0;
    color: gray;
    font-weight: 600;
}

.subcribe {
    width: 128px;
    padding: 14px;
    margin-left: -3px;
    border: 1px solid;
    background-color: #FF5959;
    border: 1px solid #FF5959;
    border-radius: 5px;
    color: white;
}

.humble-footer {
    background-color: #0B0D17;
    margin-top: 147px;
    height: 197px;
}

.humble-footer h1 {
    color: #FF5959;
    font-style: italic;
    text-align: center;
    padding-top: 38px;
}

.humble-footer p {
    color: gray;
    font-style: italic;
    text-align: center;
    margin-top: 14px;
}